body{
  zoom: 90%;
}

#more {display: none;}
.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	/*border-right: 5px solid limegreen;*/
}
.card:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px;

}
/* +++++++++++++   bg btn	+++++++++++++++++++*/
.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  /* border-color: #0d6efd; */
}
.btn-primary:hover {
  color: #fff;
  background-color: #008;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* border-color: #0d6efd; */
}
.btn-warning {
  color: #000;
  background-color: #edff00;
  border-color: #ffc720;
}
.btn-warning:hover {
  color: #000;
  background-color: #FFB400;
  border-color: #ffc720;
}
.btn-success:hover {
  color: #fff;
  background-color: #008000;
  border-color: #146c43;
}
.btn-danger:hover {
  color: #fff;
  background-color: #822433;
  border-color: #b02a37;
}
.btn-info {
  color: #000;
  background-color: #00ffcc;
  border-color: #0dcaf0;
}
.btn-info:hover {
  color: #000;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}
/* +++++++++++++   END bg btn	+++++++++++++++++++*/

 .navbar{
	 margin:0;
	 padding: 15px 0;
 }


.HomeLayout {
	max-width: 1200px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1vh;
	/*background:linear-gradient(rgb(192, 192, 192),#e2e2e2);*/
	zoom: 0.8;
	overflow: hidden;
	margin-bottom:30vh !important;
}
@media screen and (min-width: 1200px ) {
  .HomeLayout {
    width: 100%;
    height: auto;
    position: relative;
	margin:25px 0px;
  }
}
.footer{
	padding:15px;
	text-align: center;
	color: #fff;
	margin-top: 10px;
}
.backbtn{
	margin-top: 10px;
	text-decoration: none;

}
.backbtn a{
	color: #fff;
	margin-top: 10px;
	text-decoration: none;
}
.backbtn a:hover{
	color: rgb(255, 255, 255);
	margin-top: 15px;
	text-decoration: none;
}

/* +++++++++++++   sidebar	+++++++++++++++++++*/

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: absolute;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: rgb(0, 128, 255);
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: rgb(0, 128, 255);
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 100%;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/*	+++++++++++++ 	End sidebar	++++++++++++++++++++++ */

.d-inline {
    display: inline!important;
    color: #000;
}
/* +++++++++ footer ++++++++++++++++ */
.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    height: 10vv;
}
